<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Gelf"/>
    </extensions>
    <variable name="applicationName" value="Burak.Authorization.Api"/>
    <variable name="logFilePath" value=".\@Logs\${applicationName}\${machinename}\${level}Log.txt"/>
    <variable name="archiveLogFilePath"
              value=".\@Logs\Archive\${shortdate}\${applicationName}\${machinename}\${level}\${level}LogArchive_{#####}.txt"/>
    <variable name="seperator" value="********************************"/>
    <targets async="true">
        <target name="console" xsi:type="Console"/>
        <target name="debugFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
        <target name="infoFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
        <target name="traceFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
        <target name="warnFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
        <target name="errorFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
        <target name="fatalFile" xsi:type="File" archiveEvery="Day" maxArchiveFiles="512" archiveAboveSize="2097152"
                fileName="${logFilePath}" archiveFileName="${archiveLogFilePath}"
                layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${seperator}"
                concurrentWrites="false"/>
    </targets>
    <rules>
        <logger name="*" levels="Debug" writeTo="debugFile,console"/>
        <logger name="*" levels="Info" writeTo="infoFile,console"/>
        <logger name="*" levels="Trace" writeTo="traceFile,console"/>
        <logger name="*" levels="Warn" writeTo="warnFile,console"/>
        <logger name="*" levels="Error" writeTo="errorFile,console"/>
        <logger name="*" levels="Fatal" writeTo="fatalFile,console"/>
    </rules>
</nlog>